<!doctype html><html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="content-type">
<!--<meta name="viewport" content="width=device-width, minimumscale=1.0, maximum-scale=1.0" />-->
<title>GooTeach</title>
<link rel="stylesheet" href="demo.css">
<!-- <link rel='stylesheet' href='http://www.gooteach.com/css/font-awesome.min.css'> -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="demo.js"></script>
</head>

<body>
<?php include_once($_SERVER["DOCUMENT_ROOT"]."/_inc/_demo_top.php"); ?>
<div class="wrap">
	
	<ul class="goo-collapsible goo-coll-stacked">
		<li class="header"> Semesters</li>
		<li class='dropdown'><a class='' href='#'> Semester 1</a>
        	<ul>
            	<li ><a href='#'>Content</a></li>
                <li ><a href='#'>Comments</a></li>
                <li ><a href='#'>Tags</a></li>
			</ul>
		</li>
        <li><a href='#'> Semester 2</a></li>
        <li  class='dropdown'><a href='#'> Semester 3</a>
        	<ul>
            	<li ><a href='#'>Group</a></li>
                <li ><a href='#'>User</a></li>
			</ul>
        </li>
        <li><a href='#'> Semester 4</a></li>                
	</ul>
    
</div>

</body>
</html>