<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Highlight dropzones with interajct.js</title>
    <script src="/interact.js"></script>
    <script src="/dropzones.js"></script>
    <link rel="stylesheet" href="/dropzones.css">
</head>
<body>





<div class="dropzone2-wrapper">
	<div id="drop2" class="dropzone js-drop"> Semester 2 (Spring)</div>
</div>

<div class="dropzone1-wrapper">
    <div id="drop1" class="dropzone js-drop">Semester 1 (Fall)</div>
</div>

<div class="dropzone3-wrapper">
    <div id="drop3" class="dropzone1 js-drop">Semester 2.5 (Summer)</div>
</div>

<div class="dropzone2-wrapper">
    <div id="drop2" class="dropzone js-drop">Semester 4 (Spring)</div>
</div>

<div class="dropzone1-wrapper">
    <div id="drop1" class="dropzone js-drop">Semester 3 (Fall)</div>
</div>

<div id="drag3" class="draggable js-drag">Data Strcutures</div>
<div id="drag1" class="draggable js-drag">Engineering Probability</div>
<div id="drag2" class="draggable js-drag">CANOS</div>
<div id="drag4" class="draggable js-drag">Digital Signal Processing</div>


</body>
</html>
