
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="fonts/stylesheet.css">
        <link rel="stylesheet" href="css/topcoat-desktop-light.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/dr.css">
        <link rel="stylesheet" href="css/prism.css">
        <script src="/interact.js"></script>
        <script src="/dropzones.js"></script>
        <link rel="stylesheet" href="/dropzones.css">
    </head>
<body bgcolor="#E6E6FA" class="light">


<div class="dropzone2-wrapper">
  <div id="drop2" class="dropzone js-drop"> Semester 2 (Spring)</div>
</div>

<div class="dropzone1-wrapper">
    <div id="drop1" class="dropzone js-drop">Semester 1 (Fall)</div>
</div>

<!-- <div class="dropzone3-wrapper">
    <div id="drop3" class="dropzone1 js-drop">Semester 2.5 (Summer)</div>
</div> -->

<div class="dropzone2-wrapper">
    <div id="drop2" class="dropzone js-drop">Semester 4 (Spring)</div>
</div>

<div class="dropzone1-wrapper">
    <div id="drop1" class="dropzone js-drop">Semester 3 (Fall)</div>
</div>

<!-- <div class="dropzone3-wrapper">
    <div id="drop3" class="dropzone1 js-drop">Semester 4.5 (Summer)</div>
</div>
 -->
<div class="dropzone2-wrapper">
  <div id="drop2" class="dropzone js-drop"> Semester 6 (Spring)</div>
</div>

<div class="dropzone1-wrapper">
    <div id="drop1" class="dropzone js-drop">Semester 7 (Fall)</div>
</div>

<!-- <div class="dropzone3-wrapper">
    <div id="drop3" class="dropzone1 js-drop">Semester 7.5 (Summer)</div>
</div> -->

<div class="dropzone2-wrapper">
    <div id="drop2" class="dropzone js-drop">Semester 8 (Spring)</div>
</div>

<div class="dropzone1-wrapper">
    <div id="drop1" class="dropzone js-drop">Semester 7 (Fall)</div>
</div>
          <div id="wrapper">
              <div class="max-width">
                  <div id="sideNav">
                      <div class="combo">
                          <input type="search" id="dr-filter" value="" placeholder="search" class="topcoat-search-input">
                      </div>
                      <div id="pageNav">
                          <div style="list-style-type:none"  class="ul" id="dr-toc">   
                              <li class="dr-lvl0">
                                <div id="drag2" class="draggable js-drag"><span>CANOS</span></div>
                              </li>

                              <li class="dr-lvl0">
                                <div id="drag3" class="draggable js-drag"><span>Computer Science 1</span></div>
                              </li>                       
                             
                              <li class="dr-lvl0">
                                <div id="drag3" class="draggable js-drag"><span>Data Structures</span></div>
                              </li>

                              <li class="dr-lvl0">
                                <div id="drag4" class="draggable js-drag"><span>Digital Signal Processing</span></div>
                              </li>
                              <li class="dr-lvl0">
                                <div id="drag3" class="draggable js-drag"><span>Electric Circuits</span></div>
                              </li>
                              <li class="dr-lvl0">
                                <div id="drag1" class="draggable js-drag"><span>Engineering Probability</span></div>
                              </li>

                              <li class="dr-lvl0">
                                <div id="drag1" class="draggable js-drag"><span>Foundations of Computer Science</span></div>
                              </li>
                              
                              <li class="dr-lvl0">
                                <div id="drag1" class="draggable js-drag"><span>Introduction to Algorithms</span></div>
                              </li>


                              <li class="dr-lvl0">
                                <div id="drag1" class="draggable js-drag"><span>Operating Systems</span></div>
                              </li>

                              <li class="dr-lvl0">
                                <div id="drag4" class="draggable js-drag"><span>Signal and Systems</span></div>
                              </li>
                              
                               <li class="dr-lvl0">
                                <div id="drag1" class="draggable js-drag"><span>Programming Languages</span></div>
                              </li>
                              
                              <li class="dr-lvl0">
                                <div id="drag3" class="draggable js-drag"><span>Signals and Systems</span></div>
                              </li>   

                              <li class="dr-lvl0">
                                <div id="drag1" class="draggable js-drag"><span>Software Design and Documentation</span></div>
                              </li>                           
                          </div>
                      </div>
                  </div>
              </div>

    <script src="js/prism.js"></script>
    
<script>
</script>
<script>!function(e){if(e){for(var t=function(e,t){var n=t.toUpperCase().split(""),r=n.shift(),a=RegExp("^["+r.toLowerCase()+r+"][a-z]*"+n.join("[a-z]*")+"[a-z]*$")
return!!(e+"").match(a)},n=function(e,n){e+="",n+=""
var r,a=0
if(e==n)return 1
if(!e||!n)return 0
if(t(e,n))return.9
a=0,r=e.toLowerCase()
for(var i,o=0,l=n.length;l>o;o++)i=r.indexOf(n.charAt(o)),~i&&(r=r.substring(i+1),a+=1/(i+1))
return a=Math.max(a/l-Math.abs(e.length-l)/e.length/2,0)},r=e.getElementsByTagName("span"),a=[],i=/[^\.\(]*(?=(\(\))?$)/,o=0,l=r.length;l>o;o++)a[o]={li:r[o].parentNode.parentNode,text:r[o].innerHTML.match(i)[0]}
var h=document.getElementById("dr-filter"),f=function(e,t){return t.weight-e.weight}
h.onclick=h.onchange=h.onkeydown=h.onkeyup=function(){var t=h.value,r=[]
if(t.length>1){for(var i=0,o=a.length;o>i;i++)r[i]={li:a[i].li,weight:n(a[i].text,t)}
r.sort(f)}else r=a
for(i=0,o=r.length;o>i;i++)e.appendChild(r[i].li)}}}(document.getElementById("dr-toc"))</script>

</body></html>
