body { font-family: Helvetica, Arial, sans-serif; }

.dropzone1-wrapper {
    position: relative;
    float: right;
    top: 10;
    left: 10;
    right: 10;
    bottom: 0;
    width: 40%;
}

.dropzone2-wrapper {
    position: relative;
    float: right;
    top: 10;
    left: 10;
    right: 10;
    bottom: 0;
    width: 40%;
}

.dropzone3-wrapper {
    position: relative;
    float: right;
    top: 10;
    left: 10;
    right: 10;
    width: 80%;
}

.dropzone {
    overflow: hidden;
    margin: .5em;
    padding: 1em;
    color: #666;
    text-align: center;
    background: #ccc;
    line-height: 4em;
    border: 4px dashed transparent;
    transition: background .15s linear, border-color .15s linear;
    height: 200px;
    
    /*width: 100px*/;
}

.dropzone1 {
    overflow: hidden;
    margin: .5em;
    padding: 1em;
    color: #666;
    text-align: center;
    background: #ccc;
    line-height: 4em;
    border: 4px dashed transparent;
    transition: background .15s linear, border-color .15s linear;
    height: 80px;
    
    /*width: 100px*/;
}

.dropzone.-drop-possible { border-color: #666; }

.dropzone.-drop-over {
    background: #666;
    color: #fff;
}

.draggable {
    position: relative;
    z-index: 10;
    width: 12%;
    margin: .25em;
    padding: 1em 2em;
    background-color: #29e;
    color: #fff;
    text-align: center;

    -ms-touch-action: none;
        touch-action: none;
}

.draggable.-drop-possible { background-color: #42bd41; }
